<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<title>My Home</title>
	</head>
	
	<body>
		<div class="topnav">
  <a class="active navlinks" href="/nav">Home</a>
   <span th:if='${@userController.logged}' class="navright">
    <a
			href="/logout" class="navright">Logout</a>
			
			 <!-- <a href="/profile" class="navright"><p class="loggeded" th:text="'Logged as:' + ' ' + ${@userController.LoggedUser?.Login}" /></a> -->

			<a href="/profile" class="navright"><span class="loggeded" th:utext="${@userController.LoggedUser?.Login}" /></a>
			 <span th:if='${@userController.admin}'> <a href="/admin" class="navright">User Management</a>
	
			

			</span>

		</span>
		
	</div>
	

	
<div class="container">
	<div class="row logo pagebody">
		<div class="col12">
		<span th:if='${@userController.admin}'>
		
		<p>Admin Pass change</p>
		
	 <form action="/userPassChange" method="post" enctype="multipart/form-data">
    
	<p>enter name</p><input type="text" name="login" id="login"/> <br/>
    <p>enter passwd</p><input class="inpu" id="password" type="password" name="password" placeholder="Start123"/><br/>
    <input type="submit" value="OK"/>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
   <hr/>
    <hr/>
    <hr/>
    <hr/>
   
    	 <form action="/register_sub" method="post" enctype="multipart/form-data">
    	<p>Login</p>
    	<input type="text" name="login" id="login"/> <br/>
    	<p>Password</p>]
   	 	<input class="inpu" id="password" type="password" name="password" placeholder="Start123"/><br/>
   	 	<p>Email</p>
   	 	<input type="email" name="email" id="email"/><br/>
   	 	<p>admin rights</p>
   	 	<input type="checkbox" name="admin" id="admin" value="1"/><br/>
   	 	<p> assign views</p>
   	 	<input type="checkbox" name="views" id="views" value="1"/> <br/>
    	<input type="submit" value="OK"/>
    	</form>
    	<br/>
    	<h2>add board</h2>
    	<br/>
    	<hr/>
    	<hr/>
    	<hr/>
    	 <form action="/add_board" method="post" enctype="multipart/form-data">
    	<p>Label</p>
    	<input type="text" name="label" id="label"/> <br/>
    	<p>Number of pins</p>]
   	 	<input class="inpu" id="numOfPins" type="numOfPins" name="numOfPins"/><br/>
   	 	
   	 	   	 	
   	 	
    	<input type="submit" value="OK"/>
    	</form>
			
					
		 <form action="/add_board_category" method="post" enctype="multipart/form-data">
    	<p>Label</p>
    	<input type="text" name="label" id="label"/> <br/>
    	<p>Number of pins</p>]
   	 	<input class="inpu" id="numOfPins" type="numOfPins" name="numOfPins"/><br/>
   	 	
   	 	   	 	
   	 	
    	<input type="submit" value="OK"/>
    	</form>	
			
			
		</span>
		</div>
	</div>
	
</div>
	
	</body>
	
</html>