<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<title>My Home</title>
	</head>
	
	<body>
<div class="container">
	<div class="row logo pagebody">
		<div class="col12">
		<p>logo</p>
		</div>
	</div>
	<div class="row center pagebody">
		<div class="col-4 icons">
		<a href="/home">Home</a>
		</div>
		
		
		<div class="col-4 icons">
		<a href="/garage">Garage</a>
		</div>
		
		<div class="col-4 icons">
		<a href="/garden">Garden</a>
		</div>
		
	</div>
</div>
	
	</body>
	
</html>