<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<title>My Home</title>
	</head>
	
	<body>
		<div class="topnav">
  <a class="active navlinks" href="/nav">Home</a>
   <span th:if='${@userController.logged}' class="navright">
    <a
			href="/logout" class="navright">Logout</a>
			
			 <!-- <a href="/profile" class="navright"><p class="loggeded" th:text="'Logged as:' + ' ' + ${@userController.LoggedUser?.Login}" /></a> -->

			<a href="/profile" class="navright"><span class="loggeded" th:utext="${@userController.LoggedUser?.Login}" /></a>
			 <span th:if='${@userController.admin}'> <a href="/admin" class="navright">User Management</a>
	
			

			</span>

		</span>
		
	</div>
	

	
<div class="container">
	<div class="row logo pagebody">
		<div class="col12">
		<span th:if='${@userController.admin}'>
		
		<p>Admin Pass change</p>
		
	 <form action="/userPassChange" method="post" enctype="multipart/form-data">
    
	<span>enter name</span><input type="text" name="login" id="login"/> <br/>
    <span>enter passwd</span><input class="inpu" id="password" type="password" name="password" placeholder="Start123"/><br/>
    <input type="submit" value="OK"/>
    </form>
    <br/>
    
   
    	
			
		</span>
		</div>
	</div>
	
</div>
	
	</body>
	
</html>